.container{

    .offall{
        color: var(--text-color-blue) ;
    }

    .navlink{
        cursor: pointer;
        font-weight: 500;
        background-color: var(--button-color-light-black);
    }

    .icon_calender{
        color: var(--color-icon-green);
    }
}