.container{

    .offall{
        color: var(--text-color-blue) ;
    }

    .navlink{
        cursor: pointer;
        font-weight: 500;
    }

    .icon_calender{
        color: var(--color-icon-green);
    }
}