.container{
    padding: 0 0 0 10px;

    .contract{
        border-radius: 5px;
        border: 1px solid var(--button-color-dark-black);
        
        .lable_cntrct{
            background: var(--button-color-light-black);
            padding: 5px 0 5px 5px;

            .text{
                font-size: 15px;
                font-weight: 600;
                color: var(--color-text-dark-black);
                line-height: 18px;
            }
        }

        .lable_more{
            padding: 5px 0 5px 5px;

            .text{
                color: var(--color-text-dark-black);
            }
        }

        .contract_more {
            padding: 5px 0 5px 5px;
        }

        .button_upload_file{
            background: white;
            color: var(--button-color-dark-blue);
            border: 1px dashed var(--button-color-dark-blue);
            font-size: 14;
            font-weight: 500;
            height: 40px;
            min-width: 210px;
        }
    }
}
