@import "@/assets/scss/main.scss";

.container{

    .center{
        background: white;
        width: 350px;
        height: auto;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        padding: 20px;

        .form_signin{
            width: 100%;

            .label_main{
                font-size: 16px;
                font-weight: 400;
            }

            .button{
                width: 100%;
                background: $color-primary;
                height: 45px;

                .title_button{
                    color: white;
                }
            }
        }
    }
}