*{
  margin: 0;
}

.auth_main .ant-form-item-required::before{
  content: none !important;
}

:root{
  --noti-color-success: #12A594;
  --noti-color-warning: #EE9D2B;
  --noti-color-error: #E5484D;
  --noti-color-info: #11181C;
  --noti-color-export: #6E56CF;

  --text-color-black: #11181C;
  --text-color-blue: #006ADC;
  --text-color-pink: var(--noti-color-export);

  --color-dark-black: #DFE3E6;
  
  --background-pink: #F5F2FF;

  --color-icon-green: #40C4AA;

  /*Button color*/
  --button-color-dark-black: #C1C8CD;
  --button-color-light-black: #F1F3F5;

  --button-color-dark-blue: #0091FF;
  --button-color-light-blue: #E1F0FF;

  --button-color-dark-indianred: #EF6165;
  --button-color-light-indianred: #FFEFEF;

  --button-color-dark-crimson: #E5484D;
  --button-color-light-crimson: #FFEFEF;

  --button-color-dark-yellow: #EBBC00;
  --button-color-light-yellow: #FFF8BB;

  --button-color-dark-pink: #6E56CF;
  --button-color-light-pink: #F5F2FF;

  --button-color-dark-orange: #F76808;
  --button-color-light-orange: #FFF1E7;

  --button-color-dark-green: #30A46C;
  --button-color-light-green: #E9F9EE;

  --button-color-dark-teal: #69D9C1;
  --button-color-light-teal: #D2F7ED78;

  --color-checked: #30A46C;
  --color-cell-selected: #EDF6FF;

  --color-text-dark-black: #687076;
}
/*Select*/
.select_fix .ant-select-selector {
  padding: 18px 20px !important;
}

.ant-select-item-option-selected {
  background: #E9F9EE !important;
  color: #30A46C !important;
}

.select_muti .ant-select-selector{
  padding: 4px 0;
}

/*Dropdown*/
.drop .ant-dropdown-menu{
  width: 300px !important;
  height: 250px !important;
  padding: 10px;
}

/*Tabs*/
.ant-tabs-top >.ant-tabs-nav::before{
  border: none;
}

.ant-tabs-ink-bar-animated{
  display: none;
}

.ant-tabs-tab{
  margin: 0 0 0 10px !important;
}

/*table*/
.ant-checkbox-checked .ant-checkbox-inner{
  background-color: var(--color-checked) !important;
  border-color: var(--color-checked) !important;
}

.table_employyee .ant-checkbox-indeterminate .ant-checkbox-inner::after{
  background-color: var(--color-checked) !important;
  border-color: var(--color-checked) !important;
}

.table_employyee .ant-table-wrapper .ant-table-tbody .ant-table-row.ant-table-row-selected >.ant-table-cell{
  background: var(--color-cell-selected) !important;
}

.table_all ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey !important;
}


/*action acc*/
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item{
  cursor: default !important;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-active:hover{
  background-color: white !important;
}


/*date picker*/
.anticon-calendar{
  color: #30A46C;
}

.ant-picker-date-panel{
  width: 400px !important;
}

.ant-picker-cell-inner{
  border-radius: 50% !important;
}

.ant-picker-now-btn{
  display: none;
}

.ant-picker-content th{
  background-color: var(--button-color-light-green) !important;
  color: var(--button-color-dark-green) !important;
  border-radius: 5px;
  margin: 0 5px !important;
}

/*input number*/
.ant-input-number-handler-wrap{
  display: none !important;
}

.input_number{
  padding: 8px 12px;
  width: 100% !important;
}

/*Check box*/
.ant-checkbox-disabled+span{
  color: var(--text-color-black) !important;
}